@font-face {
    font-family: 'vt323';
    src: url('../fonts/VT323-Regular.ttf');
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
    padding: 40px 0;
}

.row.notepad > div {
    padding: 0;
}

.contact-page h1, h2.console, p.console, span {
    font-family: 'vt323';
    color: #fff;
}

.margin {
    height: 40px;
}

.subitem {
    margin-left: 16px;
    display: block;
}

.white-console {
    border: 2px solid #ccc;
    height: 100%;
    overflow-y: auto;
}

h2.console.green, .green {
    color: #27ad00;
}

.contact-page {
    background: #000;
}

.contact-page p {
    font-size: 20px;
    color: #fff;
}

.contact-page a:hover {
    color: #B4E0FD;
}

.knowledge-page {
    background: #000;
    color: #000;
}

.knowledge-page h1 {
    color: #27ad00;
}

.knowledge-page p {
    font-size: 20px;
    color: #27ad00;
}

.knowledge-page a {
    color: #F82929;
}

.knowledge-page a:hover {
    color: #FA6969;
}

.green-console {
    border: 2px solid #27ad00;
    height: 100%;
    overflow-y: auto;
}

.experience-page {
    background-color: #007b7b;
}

.experience-page p {
    font-family: arial;
    font-size: 20px;
    color: #000;
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}

.cursor {
    position: relative;
    top: -4px;
}

.notepad_title {
    height: 17px; background: #00007b;
    border-top: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
}

#nt {
    position: absolute;
    top: 1px;
    left: 1px;
}

#nb {
    position: absolute;
    top: 2px;
    right: 0;
}

#nm {
    position: absolute;
    top: 19px;
    left: 1px;
}

.notepad_menu {
    height: 20px; background: #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
}

.notepad_content {
    padding: 10px;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    height: 400px;
    background: #fff;
    overflow-y: auto;
}

.notepad_content h2 {
    color: #000;
}

.notepad_footer {
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    height: 20px;
    background: #dedede;
}

.notepad_footer img.left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.notepad_footer img.right {
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.notepad_content p {
    font-size: 16px;
}

div.knowledge {
    width: 100%;
}

div.knowledge-name {
    position: relative;
    display: inline-block;
    min-width: 70px;
    vertical-align: 8px;
}

.level {
    display: inline-block;
    height: 27px;
    background: #27ad00;
    margin: 0;
    padding: 0;
    width: 1%;
    transition: width 1s;
}

.level.basic.loaded {
    width: 20%;
}

.level.medium.loaded {
    width: 40%;
}

.level.medium-advanced.loaded {
    width: 50%;
}

.level.advanced.loaded {
    width: 75%;
}

.editable {
    outline: 0;
}

.icon {
    position: absolute;
    width: 55px;
}

.icon.clicked {
    filter: grayscale(100%);
}

.github-link {
    position: absolute;
    top: 90px;
}

.github-link span{
    position: relative;
    top: 18px;
    left: 5px;
}

